

body {
    background-color: #ece1ca;
  }
 img {
  max-width: 100%;
  max-height: 100%;
}
.mcheck-container {
    max-width: max-content;
    margin: 0 auto;
    padding: 2em;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 0px 40px 40px -20px #000;
    display: flex;
    text-align: center;  
  }
.question-container {
    margin: 0 auto;
    max-width: 600px;
    background-color: white;
    padding: 4rem 3rem;
    display: flex;
    flex-direction: column;
    color: #000;
    border-radius: 15px;
    box-shadow: 0px 40px 40px -20px #000;
  }

.question-title {
  color:#2980b9;
  font-size: 1.2rem;
  font-weight: bold;
  align-items: center;
}
#q0 {
  display: block;
}
#q1 {
  display: none;
}
#q2 {
  display: none;
}
#q3 {
  display: none;
}
#q4 {
  display: none;
}
#q5 {
  display: none;
}
#q6 {
  display: none;
}
#q7 {
  display: none;
}
#q8 {
  display: none;
}